[submodule "DeFiHackLabs"]
	path = DeFiHackLabs
	url = https://github.com/SunWeb3Sec/DeFiHackLabs
[submodule "python-solidity-parser"]
	path = python-solidity-parser
	url = https://github.com/Consensys/python-solidity-parser.git
